{
  "extends": "@readme/eslint-config",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
