version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - dependencies
    commit-message:
      prefix: chore(deps)
      prefix-development: chore(deps-dev)

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - area:node
    commit-message:
      prefix: chore(deps)
      prefix-development: chore(deps-dev)
    ignore:
      # node-fetch is now an ESM package and can't be used here without a rewrite.
      - dependency-name: node-fetch
        versions:
          - ">= 3"

#   - package-ecosystem: bundler
#     directory: "/packages/ruby"
#     schedule:
#       interval: monthly
#     open-pull-requests-limit: 10
#     labels:
#       - dependencies
#       - area:ruby
#     commit-message:
#       prefix: chore(deps)
#       prefix-development: chore(deps-dev)

  - package-ecosystem: composer
    directory: "/packages/php"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - area:php
    commit-message:
      prefix: chore(deps)
      prefix-development: chore(deps-dev)

#   - package-ecosystem: pip
#     directory: "/packages/python"
#     schedule:
#       interval: monthly
#     open-pull-requests-limit: 10
#     labels:
#       - dependencies
#       - area:python
#     commit-message:
#       prefix: chore(deps)
#       prefix-development: chore(deps-dev)
