{
  "extends": "@readme/eslint-config/testing",
  "rules": {
    "jest/no-standalone-expect": ["error", {
      "additionalTestBlockFunctions": ["itif"]
    } ],
    "no-underscore-dangle": "off",
    "unicorn/no-unsafe-regex": "off"
  }
}
