name: cloudflare-worker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/cloudflare-worker

    strategy:
      fail-fast: false
      matrix:
        node-version:
          - lts/-1
          - lts/*
          - latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci --ignore-scripts
      - run: npm run lint
      - run: npm run build
      - run: npm test
