name: dotnet

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 16

      - run: npm ci --ignore-scripts
      - run: make test-metrics-dotnet
      - run: make test-webhooks-dotnet

      - name: Cleanup
        if: always()
        run: docker-compose down

  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/dotnet

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        # with:
        #   dotnet-version: '3.1.x' # SDK Version to use; x will use the latest version of the 3.1 channel
      - run: make build
