name: dotnet

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: npm ci --ignore-scripts
      - run: make test-metrics-dotnet
      - run: make test-webhooks-dotnet

      - name: Cleanup
        if: always()
        run: docker compose down

  build-dotnet:
    name: build ${{ matrix.dotnet-version }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/dotnet

    strategy:
      matrix:
        dotnet-version:
          - 6.x
          - 8.x

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - run: make build
