name: dotnet

on: [push]

jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - run: docker-compose run integration_metrics_dotnet_v6.0

    - name: Cleanup
      if: always()
      run: docker-compose down
