name: python

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/python

    strategy:
      matrix:
        python-version: [3.x]

    steps:
      - uses: actions/checkout@v2.3.1

      - uses: actions/setup-python@v2.1.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip3 install -r requirements.txt

      - name: Check code standards
        run: pycodestyle --show-pep8 readme_metrics/
