name: python

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/python

    strategy:
      matrix:
        python-version:
          # https://endoflife.date/python
          - 3.7 # EOL: June 27th, 2023
          - 3.8 # EOL: October 14th, 2024
          - 3.9 # EOL: October 5rd, 2025
          - '3.10' # EOL: October 4rd, 2026

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip3 install -r requirements.txt

      - name: Check code standards
        run: black --check .

      - name: Run tests
        run: pytest

  integration:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - run: docker-compose run integration_metrics_python_flask

    - name: Cleanup
      if: always()
      run: docker-compose down
