name: ruby

on: [push]

jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm ci --ignore-scripts
      - run: make test-metrics-ruby-rails
      # - run: make test-webhooks-ruby-rails

      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1

      - name: Cleanup
        if: always()
        run: docker-compose down

  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/ruby

    strategy:
      matrix:
        ruby-version:
          # https://endoflife.date/ruby
          - 2.7 # EOL: March 31st, 2023
          - '3.0' # EOL: March 31st, 2024
          - 3.1 # EOL: December 25th, 2025

    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Install dependencies
        run: make install

      - name: Run linter
        run: make lint

      - name: Run tests
        run: make test
