name: "Split monorepo into git mirrors"

on:
  push:
    branches:
      - main

jobs:
  split-monorepo:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Split repository into git mirrors
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        METRICS_SDK_NODE_PRIVATE_KEY: ${{ secrets.METRICS_SDK_NODE_PRIVATE_KEY }}
        METRICS_SDK_PHP_PRIVATE_KEY: ${{ secrets.METRICS_SDK_PHP_PRIVATE_KEY }}
        METRICS_SDK_PYTHON_PRIVATE_KEY: ${{ secrets.METRICS_SDK_PYTHON_PRIVATE_KEY }}
        METRICS_SDK_RUBY_PRIVATE_KEY: ${{ secrets.METRICS_SDK_RUBY_PRIVATE_KEY }}
        METRICS_SDK_DOTNET_PRIVATE_KEY: ${{ secrets.METRICS_SDK_DOTNET_PRIVATE_KEY }}
      run: ./bin/split.sh
      shell: bash
